---
layout: splash
permalink: /
header:
  overlay_image: /assets/images/su_wide2.jpg
  caption: "Syracuse University"
excerpt: 'Assistant Professor <br /><a href="http://ischool.syr.edu">School of Information Studies</a><br /><a href="http://www.syr.edu">Syracuse University</a>'
---

{% capture news_include %}{% include_relative _pages/news.md %}{% endcapture %}
{{ news_include | markdownify }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
